<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
            name="CreateDatabaseLog"
            fileName="${basedir}/TheKitchen.Data.Logs/CreateDatabaseLog.log"
            createDirs="true"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
    <target xsi:type="File"
            name="KitchenRepository"
            fileName="${basedir}/TheKitchen.Data.Logs/Repos/KitchenRepository.log"
            createDirs="true"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
    <target xsi:type="File"
            name="IngredientRepository"
            fileName="${basedir}/TheKitchen.Data.Logs/Repos/IngredientRepository.log"
            createDirs="true"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
    <target xsi:type="File"
            name="IngredientCategoryRepository"
            fileName="${basedir}/TheKitchen.Data.Logs/Repos/IngredientCategoryRepository.log"
            createDirs="true"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
    <target xsi:type="File"
            name="RecipeCategoryRepository"
            fileName="${basedir}/TheKitchen.Data.Logs/Repos/RecipeCategoryRepository.log"
            createDirs="true"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
    <target xsi:type="File"
            name="RecipeRepository"
            fileName="${basedir}/TheKitchen.Data.Logs/Repos/RecipeRepository.log"
            createDirs="true"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
    <target xsi:type="File"
            name="RecipeDetailRepository"
            fileName="${basedir}/TheKitchen.Data.Logs/Repos/RecipeDetailRepository.log"
            createDirs="true"
            layout="${longdate} | ${level} | ${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="TheKitchen.Data.Repos.RecipeDetailRepository*" minlevel="Info" final="true" writeTo="RecipeDetailRepository" />
    <logger name="TheKitchen.Data.Repos.RecipeRepository*" minlevel="Info" final="true" writeTo="RecipeRepository" />
    <logger name="TheKitchen.Data.Repos.RecipeCategoryRepository*" minlevel="Info" final="true" writeTo="RecipeCategoryRepository" />
    <logger name="TheKitchen.Data.Repos.IngredientCategoryRepository*" minlevel="Info" final="true" writeTo="IngredientCategoryRepository" />
    <logger name="TheKitchen.Data.Repos.KitchenRepository*" minlevel="Info" final="true" writeTo="KitchenRepository" />
    <logger name="TheKitchen.Data.Repos.IngredientRepository*" minlevel="Info" final="true" writeTo="IngredientRepository" />
    <logger name="TheKitchen.Data.*" minlevel="Info" writeTo="CreateDatabaseLog" />
  </rules>
</nlog>
